# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android - Gradle files
/android/.gradle/
/android/gradle-wrapper.jar
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/captures/
/android/.cxx/
/android/GeneratedPluginRegistrant.java

# Keystore files - PENTING! 🔐
# JANGAN PERNAH UPLOAD FILE INI!
android/key.properties
android/**/*.keystore
android/**/*.jks
**/*.keystore
**/*.jks
key.properties

# iOS - CocoaPods
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Runner.xcworkspace/
/ios/.generated/

# Firebase config (Uncomment jika ingin private)
# android/app/google-services.json
# ios/Runner/GoogleService-Info.plist

# Web
/web/*.js
/web/*.js.map